:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;

  --color-xiv-green: #7bc431;
  --color-xiv-dark-green: #1f9900;
  --color-xiv-blue: #085677;
  --color-xiv-brown: #aa8422;
  --color-xiv-red: #e4004e;
}

.xiv-text {
  color: white;
  text-shadow:
    0.5px 0.5px 2px var(--shadow-color),
    -0.5px 0.5px 2px var(--shadow-color),
    0.5px -0.5px 2px var(--shadow-color),
    -0.5px -0.5px 2px var(--shadow-color);
}

.xiv-text.green {
  --shadow-color: var(--color-xiv-green);
}
.xiv-text.dark-green {
  --shadow-color: var(--color-xiv-dark-green);
}
.xiv-text.blue {
  --shadow-color: var(--color-xiv-blue);
}
.xiv-text.brown {
  --shadow-color: var(--color-xiv-brown);
}
.xiv-text.red {
  --shadow-color: var(--color-xiv-red);
}

a.xiv-text:hover {
  text-decoration: underline;
  color: white;
}
button.xiv-text {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}